<!-- JUMBOTRON START -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h2>404 - NOT FOUND!</h2>
		<h1 class="display-4">Halaman tidak ditemukan!</h1>
		<h1 class="display-4">Ingin kembali ke <a href="/">Menu</a> ?</h1>
	</div>
</div>
<!-- JUMBOTRON END -->

<!-- LIST START -->
<div class="list" id="list">
	<p class="list-title">Tautan lain</p>
	<div class="boxs">
		<a href="/">
			<img style="width: 60px; height: 60px;" alt="Al-Quran [IMG by @DrelezTM]" src="/assets/svg/error.svg" />
			<h5>Surah</h5>
			<p>List Surah</p>
		</a>
	</div>
	<div class="boxs">
		<a href="/github">
			<img style="width: 60px; height: 60px;" alt="Al-Quran [IMG by @DrelezTM]" src="/assets/svg/github.svg" />
			<h5>Source Code</h5>
			<p>Source Code Al-Qur'an ID</p>
		</a>
	</div>
</div>
<!-- LIST END -->